<section class="cta basic-padding" id="cta">
	<div class="cta-wrap mw-720 m-auto">
		<h3 class="title">Download for FREE Time Tracking App!</h3>
		<p class="subtitle mb-1">Download FREE version now, and use Offline mode free forever, or get 30% OFF for premium version!</p>
		<p class="paragraph light mt-0">
			Don’t worry, we won’t spam you. Only mail you will get after link to download is when the premium version is available, and it will have a big bold UNSUBSCRIBE button in it!
		</p>

		<form action="" class="mt-4">
			<input type="email" placeholder="Type your email">
			<a href="#" class="btn btn-primary cta-btn">Download FREE</a>
		</form>

	</div>
</section>
