<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper basic-padding mw-480 m-auto">

		<nav class="footer-nav">
			<a href="/">Home</a>
			<a href="/subscribe">Subscribe</a>
			<a href="/donation">Donation</a>
			<a href="/download">DOWNLOAD</a>
		</nav>

  </div>

</footer>

<script src="{{ "/assets/js/main.js" | relative_url }}" type="text/javascript"></script>
<!--<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>-->
