<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper basic-padding mw-480 m-auto">

		<nav class="footer-nav">
			<a href="/">Home</a>
			<a href="/{{site.subscribe_url}}">Subscribe</a>
<!--			<a href="/{{site.upgrade_url}}">Upgrade</a>-->
			<a href="/{{site.download_url}}">DOWNLOAD</a>
		</nav>

  </div>

</footer>

<script src="{{ "/assets/js/main.js" | relative_url }}" type="text/javascript"></script>
<!--<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>-->
