<header class="site-header" role="banner">

	<div class="header-wrap mw-1000 m-auto">

		<a href="/" class="logo-link"><img src="/assets/images/logo.svg" class="site-logo" alt="Time Tracker for freelancers | {{site.title}}" title="Time Tracker for freelancers | {{site.title}}"> <strong>The Track</strong></a>

		<nav class="site-nav d-none">

			<a href="/"  class="{% if page.url =='/' %}current-page{% endif %}">Home</a>
			<a href="/subscribe"  class="{% if page.url =='/subscribe/' %}current-page{% endif %}">Subscribe</a>
			<a href="/donation/"  class="{% if page.url =='/donation/' %}current-page{% endif %}">Donation</a>
			<a href="/download/"  class="{% if page.url =='/download/' %}current-page{% endif %}">DOWNLOAD</a>
		</nav>

	</div>

</header>
