<header class="site-header" role="banner">

  <div class="wrapper">

		<div class="logo">
			<a href="">
				<img src="{{site.url}}/assets/images/logo.png" alt="{{site.title}} || {{ site.description }}" title="{{site.title}} || {{ site.description }}">
				The Track
			</a>
		</div>

		<nav class="site-nav">
			<a href="/">Home</a>
			<a href="/subscribe">Subscribe</a>
			<a href="/donation">Donation</a>
			<a href="/download">DOWNLOAD</a>
		</nav>

		<nav class="menu-toggle" id="menu-toggle">
			<span></span>
		</nav>

  </div>

</header>

<header class="mobile-header">
	<nav class="mobile-nav">
		<a href="/">Home</a>
		<a href="/subscribe">Subscribe</a>
		<a href="/donation">Donation</a>
		<a href="/download">DOWNLOAD</a>
	</nav>
</header>
