<section class="cta basic-padding" id="cta">
	<div class="cta-wrap mw-720 m-auto">
		<h3 class="title">Subscribe</h3>
		<p class="paragraph light mt-2">
			We won’t send you any marketing-related emails or news we wouldn’t want to hear. We’ll send you MAX 3 MAILS IN YEAR.
		</p>

		<div class="mt-8 form-wrap" id="form-wrap">

			<form action="/{{site.download_url}}" class="form mt-2 m-auto" id="subscribeForm">
				<input type="email" placeholder="Type your email" id="subscribeEmail">
				<a href="/{{site.subscribe_url}}" class="btn btn-primary cta-btn" id="subscribeButton">Subscribe</a>
			</form>

		</div>

	</div>
</section>
<script src="{{ "/assets/js/subscribe.js" | relative_url }}" type="text/javascript"></script>
