<section class="basic-hero subscribe-hero">
	<div class="wrap basic-wrap basic-padding m-auto">
		<h1 class="hero-title text-center">Download the app for your Operating  System</h1>
		<p class="hero-subtitle text-center m-auto">
			Same app regardless of OS
		</p>

		<div class="versions">
			<a href="/assets/app/{{site.app_name_mac}}" class="version">
				<img src="{{site.url}}/assets/images/mac.svg" alt="{{site.title}} - Time Tracking App for Mac" title="{{site.title}} | Time Tracking App for Mac">
				<h2>
					<strong>Download</strong>
					<strong class="os">for Mac OS</strong>
				</h2>
			</a>
			<a href="/assets/app/{{site.app_name_win}}" class="version">
				<img src="{{site.url}}/assets/images/win.svg" alt="{{site.title}} - Time Tracking App for Windows" title="{{site.title}} | Time Tracking App for Windows">
				<h2>
					<strong>Download</strong>
					<strong class="os">for Windows</strong>
				</h2>
			</a>
			<a href="/assets/app/{{site.app_name_ubuntu}}" class="version">
				<img src="{{site.url}}/assets/images/ubuntu.svg" alt="{{site.title}} - Time Tracking App for Linux Ubuntu" title="{{site.title}} | Time Tracking App for Linux Ubuntu">
				<h2>
					<strong>Download</strong>
					<strong class="os">for Ubuntu</strong>
				</h2>
			</a>
		</div>
	</div>
</section>
