.features-section

  width: 100%
  margin-top: -150px
  @media (max-width: $small-screen)
    margin-top: -5vh

  .wrap
    display: flex
    justify-content: space-between

  .feature
    max-width: 300px
    img
      width: 100%

