.cta
  background: white
  text-align: center
  padding-top: 4rem
  padding-bottom: 4rem
  .title
    color: $dark-color
    font-weight: 400
    font-size: 2rem
    margin: auto
    text-align: center

  .subtitle
    font-size: 1.5rem
    color: $dark-color

  .cta-btn
    background: $btn-color
    color: white

  form
    display: flex
    flex-wrap: wrap
    input
      flex-grow: 1
    .btn
      flex-grow: 1
      @media (min-width: $medium-screen)
        margin-left: 1rem
      @media (max-width: $medium-screen)
        margin-top: 1rem
