.top-feature-section
  padding-top: 5rem
  padding-bottom: 5rem

  .basic-wrap
    display: flex
    align-items: flex-start
    justify-content: space-between
    @media (max-width: $small-screen)
      flex-direction: column
      .notification-img
        max-width: 100%
        width: 100%
        margin: 0
      h2
        margin-top: 1.5rem
        max-width: 100%

  .notification-img
    box-sizing: border-box
    box-shadow: 0 3px 38px rgba(#506CE3, .12)
    border-radius: 8px
    max-width: 45%
    margin: 1rem
    margin-top: 0


  h2
    margin: 0
    font-size: 2.5rem
    color: $dark-color
    font-weight: 400
    max-width: 50%
    @media (max-width: $medium-screen)
      font-size: 2rem


  .text-section
    width: 50%
    h2, p
      margin: 0
      max-width: 100%
      width: 100%
    p
      margin-top: 1rem
    @media (max-width: $small-screen)
      width: 100%

  p
    font-family: $secondary-font




.tools-section
  background: #3961E8
  color: white
  h2
    color: white

.distractions-section
  background: #3961E8
  color: white
  h2
    color: white

.customize-section
  &[data-style="blue"]
    background: #3961E8
    .img-blue
      display: block

  &[data-style="orange"]
    background: linear-gradient(#FA709A, #FEE140)
    .img-orange
      display: block


  &[data-style="dark-blue"]
    background: linear-gradient(#6A11CB, #3D53EB, #2575FC)
    .img-dark-blue
      display: block

  &[data-style="purple"]
    background: #F039A1
    .img-purple
      display: block





  color: white
  h2
    color: white


.customize-section,
.distractions-section,
.tools-section
  img
    max-height: 70vh



.switch-image
  display: none
  &.active
    display: block
