$primary-font: 'Montserrat', sans-serif
$secondary-font: 'Montserrat', sans-serif

$wide-screen: 1020px
$medium-screen: 769px
$small-screen: 480px
$mini-screen: 360px

$on-brand: white
$dark-color: #00144A
$green: #42C660

$hero-bgc: #333
$hero-title: #fff

$accent-color: #39E0CC

$danger-color: #FFB222

$error-color: #FF5A5A
$success-color: #39E0CC

$btn-color: white
$btn-bgc: #007AFF

$header-color: #39FFB3
