$primary-font: 'Zilla Slab', serif
$secondary-font: 'Helvetica Neue', 'Noto Sans', sans-serif

$wide-screen: 1020px
$medium-screen: 769px
$small-screen: 480px
$mini-screen: 360px

$on-brand: white
$dark-color: #00144A
$green: #42C660

$hero-bgc: #F7F7F7
$hero-title: #242424

$accent-color: #39E0CC

$danger-color: #FFB222

$error-color: #FF5A5A
$success-color: #39E0CC

$btn-color: #39E0CC
$btn-bgc: white

$header-color: #39FFB3
