<section class="basic-hero subscribe-hero">
	<div class="wrap basic-wrap basic-padding m-auto">
		<h1 class="hero-title text-center">Congratulations, you won 2 months for free!</h1>
		<p class="hero-subtitle text-center m-auto">
			To claim your 2 months of free time tracking, type your email!
		</p>

		<div class="mt-8 form-wrap" id="form-wrap">

			<form action="/download" class="form mt-2 m-auto" id="subscribeForm">
				<input type="email" placeholder="Type your email" id="subscribeEmail">
				<a href="/subscribe" class="btn btn-primary cta-btn" id="subscribeButton">Submit</a>
			</form>

		</div>

	</div>
</section>
<script src="{{ "/assets/js/subscribe.js" | relative_url }}" type="text/javascript"></script>
