<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<!--	<input type="hidden" name="cmd" value="_s-xclick">-->
<!--	<input type="hidden" name="hosted_button_id" value="566UE6TDFV3JQ">-->
<!--	<table>-->
<!--		<tr><td><input type="hidden" name="on0" value="The Track App Email">The Track App Email</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>-->
<!--	</table>-->
<!--	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
<!--	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
<!--</form>-->
<section class="basic-hero upgrade-hero">
	<h1 class="hero-title text-center">Only one plan! Only Premium!</h1>
</section>

<div class="upgrade-card">
	<h2 class="price">
		0.26 $
	</h2>
	<strong>per day</strong>
	<aside>It’s billed $7.86/month</aside>

	<a href="/{{site.subscribe_url}}" class="btn">UPGRADE TO PREMIUM</a>

</div>
