<section class="conclusion p-basic" id="conclusion">
	<div class="mw-800 m-auto">
		<ul class="p-0">
			<li class="mb-4">You will be able to track all your projects to see how much time do you need
				exactly so you can better estimate time for the future clients. Also, see how
				much time do you need for each or group of sessions.</li>
			<li class="mb-4">If you download the app NOW you will have 30% OFF on the premium version for 1 year.</li>
			<li class="mb-4">If Offline mode is all you need, free forever for you!</li>
		</ul>
	</div>
</section>
