<section class="top-feature-section customize-section" id="customize-section" data-style="blue">
	<div class="basic-wrap m-auto basic-padding">
		<img src="{{site.url}}/assets/images/customizer-blue.svg" 			class="notification-img switch-image img-blue" alt="{{site.title}}">
		<img src="{{site.url}}/assets/images/customizer-dark-blue.svg" 	class="notification-img switch-image img-dark-blue" alt="{{site.title}}">
		<img src="{{site.url}}/assets/images/customizer-orange.svg" 		class="notification-img switch-image img-orange" alt="{{site.title}}">
		<img src="{{site.url}}/assets/images/customizer-purple.svg" 		class="notification-img switch-image img-purple" alt="{{site.title}}">
		<div class="text-section">
			<h2>Customize your time
				tracking app!</h2>
			<p>
				Say goodbye to boring looking time tracking apps! Go to <strong>Settings>Customize</strong> and <strong>customize The Track however you want!</strong>

				<br><br>
				Time tracking app will be active most of the
				working time, for those enthusiast who want
				to have customized it to their own taste we
				made the option to customize colors!</p>
		</div>
	</div>
</section>
