<section class="features p-basic" id="features">
	<img src="/assets/images/shape.svg" class="shape" alt="Freelancer on the Project Image | {{site.title}}" title="Freelancer tracks time for the projects | {{site.title}}">
	<div class="section-wrap mw-1000 m-auto d-flex">
		<div class="text">
			<h3 class="title">
				Current features
			</h3>
			<ul>
				<li>Add/edit/delete projects (WOOOW)</li>
				<li>Track time for FREE</li>
				<li>Notification about tracking</li>
				<li>Consistent GUI on each OS</li>
			</ul>

			<h3 class="title">
				Upcoming features
			</h3>
			<ul>
				<li>Auto-stop tracking</li>
				<li>Pomodoro technique</li>
				<li>Cross platform synching. One account, three platforms</li>
			</ul>

		</div>
		<img src="/assets/images/what-img.png" class="features-image" alt="Freelancer on the Project Image | {{site.title}}" title="Freelancer tracks time for the projects | {{site.title}}">
	</div>
</section>
