<section class="features-section">
	<div class="wrap basic-wrap m-auto">

		<article class="feature">
			<img src="{{site.url}}/assets/images/feature01img.png" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

		<article class="feature">
			<img src="{{site.url}}/assets/images/feature01img.png" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

		<article class="feature">
			<img src="{{site.url}}/assets/images/feature01img.png" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

	</div>
</section>
