<section class="features-section">
	<div class="wrap basic-wrap basic-padding m-auto">

		<article class="feature">
			<img class="feature-image active" src="{{site.url}}/assets/images/features-img/feature01img-0.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature01img-1.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature01img-2.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

		<article class="feature">
			<img class="feature-image active" src="{{site.url}}/assets/images/features-img/feature02img-0.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature02img-1.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature02img-2.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

		<article class="feature">
			<img class="feature-image active" src="{{site.url}}/assets/images/features-img/feature03img-0.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature03img-1.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
			<img class="feature-image" src="{{site.url}}/assets/images/features-img/feature03img-2.svg" alt="{{site.title}}" title="{{site.title}} | {{site.description}}">
		</article>

	</div>
</section>
