<section class="hero-section p-basic">
	<div class="hero-wrap">
		<div>
			<span class="hero-caption">FREE FOR STARTING!</span>
			<h1 class="hero-title">Time tracking app for Freelancers</h1>
			<p class="hero-description mt-2 mb-2">Download for FREE and start tracking your projects. No unnecesary features, cluter UI, just create project and start tracking it!</p>
			<a href="/download" class="btn btn-primary mr-2">Download App</a>
			<a href="/about" class="btn btn-secondary">Find More</a>
		</div>
		<div>
			<img src="/assets/images/app-hero.png" class="hero-image" alt="{{site.title}}" title="{{site.title}}">
		</div>
	</div>
</section>
