<section class="testimonials-section">
	<h2 class="title">
		Created by Freelancers for Freelancers
	</h2>
	<div class="wrap basic-wrap m-auto">
		<article class="testimonial">
			<p class="quote">
				I love to work on my side projects, and I want to track how much time I invest in each of them. It’s nice to have app that is nice and simple so I can do that.
			</p>
			<div class="meta">
				<div class="avatar"></div>
				<aside>
					<span>John</span>
					<p>Web Designer</p>
				</aside>
			</div>
		</article>
		<article class="testimonial">
			<p class="quote">
				I love to work on my side projects, and I want to track how much time I invest in each of them. It’s nice to have app that is nice and simple so I can do that.
			</p>
			<div class="meta">
				<div class="avatar"></div>
				<aside>
					<span>John</span>
					<p>Web Designer</p>
				</aside>
			</div>
		</article>
		<article class="testimonial">
			<p class="quote">
				I love to work on my side projects, and I want to track how much time I invest in each of them. It’s nice to have app that is nice and simple so I can do that.
			</p>
			<div class="meta">
				<div class="avatar"></div>
				<aside>
					<span>John</span>
					<p>Web Designer</p>
				</aside>
			</div>
		</article>
	</div>
</section>
