<section class="what p-basic" id="what">
	<div class="section-wrap mw-1000 m-auto">

		<img src="/assets/images/what-img.png" class="what-image" alt="Freelancer on the Project Image | {{site.title}}" title="Freelancer tracks time for the projects | {{site.title}}">

		<div class="text">
			<h3 class="title">What is The Track?</h3>
			<p class="paragraph">
				The Track is a time tracking app for freelancers. It’s easy to use the app, and it comes on multiple platforms (macOS, Windows, Ubuntu)
			</p>
			<p class="paragraph">
				You can create a project easily, and start tracking time right away, WITHOUT REGISTER. You can name each session, or just save it as “general session”.
			</p>
			<p class="paragraph light">
				Upcoming features are: Auto-stop tracking when freelancer doesn’t work; set reminders for each “X” minutes to make sure you are still working, need a pause, or something else; Use Pomodoro technique while working; calculate your fee for project budget; ONE ACCOUNT, ALL PLATFORM!
			</p>
		</div>
	</div>
</section>
