<section class="text-section">
	<div class="wrap basic-wrap m-auto basic-padding">
		<h2 class="title">What’s The Track?</h2>
		<p class="paragraph">The Track is a time tracking app for personal use. It’s easy to use, and it comes on multiple platforms (macOS, Windows, Ubuntu)</p>
		<p class="paragraph">You can create a project easily, and start tracking time right away. The Track time tracker is created mainly for personal use, side-project enthuziasts and for all people who want to track the time for their projects. </p>
	</div>
</section>
