<section class="text-section why-track">
	<div class="wrap basic-wrap m-auto basic-padding">
		<h2 class="title">Why tracking time?</h2>
		<p class="paragraph">Productivity leads to greater effort, and greater effort leads to more work done, so it is important to maintain high productivity levels during working hours. For example, if you’re trying to improve productivity, you can time track your typical work day, and analyze how you’ve spent your time. After viewing a time tracking report of your day, you can prioritize better, create better schedules, and gain motivation to be more productive.</p>
	</div>
</section>
